<md-card>
  <md-card-title>Feedback</md-card-title>
  <md-card-content>
    <form #templateDrivenForm="ngForm" (ngSubmit)="onSubmitTemplateDrivenForm(templateDrivenForm.value)" novalidate>
      <md-input placeholder="Name" name="firstName" ngModel></md-input>
      <md-input placeholder="Email" name="email" [ngModel]="feedbackObject.email"></md-input>
      <md-input placeholder="Message" name="message" ngModel #messageControl="ngModel" required>
        <md-hint [hidden]="messageControl.valid || messageControl.pristine">
          Message is required
        </md-hint>
      </md-input>
      <div>
        <md-checkbox name="agree" ngModel indeterminate="true" required>I agree with terms</md-checkbox>
      </div>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" type="submit">Send</button>
  </md-card-actions>
</md-card>
