<form [formGroup]="modelDrivenForm" (ngSubmit)="onSubmitModelDrivenForm()">
  <md-card>
    <md-card-title>Contact us</md-card-title>
    <md-card-content>
      <md-input placeholder="Email" formControlName="email"></md-input>
      <md-input placeholder="Message" formControlName="message"></md-input>
      <div>
        <md-radio-group formControlName="type">
          <md-radio-button value="Question">Question</md-radio-button>
          <md-radio-button value="Request">Request</md-radio-button>
        </md-radio-group>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="accent" type="submit" [disabled]="!modelDrivenForm.valid">Send</button>
    </md-card-actions>
  </md-card>
</form>
